

body {
	margin: 0 auto;
	background-image: url('largboi.jpg') 
	background-repeat: no-repeat ;
	background-attachment: fixed;
	background-width:100%;
	background-position: center;
	background-size: contain;
	font-family: 'Work Sans', sans-serif;
	font-weight: 100;
	background-color: #b0c4de;
	color: #fff;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.titlepagetext{
	width: 200px;
	position: absolute;
	left: 50%;
	margin-left: -195px;
	border: 0px solid black;
    
    white-space: nowrap;

	margin-top: 19%;	
	color:#b0c4de;
	font-size: 40px;
  	
 	
}
.container {
	width: 80%
	margin: 0 auto;
}

header {
	background-color: #555;
	opacity: 0.6;
	width:100%;
	top: 0;
	position:fixed;
	z-index: 3;  
}

header::after {
  content: '';
  display: table;
  clear: both;
  

}

.logo {
	text-align: center;
	width: 130px;
	margin-bottom: 2px;
	margin-right: -15px;
	margin-left: -15px;

	
}




html, body {
	height: 100%;
}



.sect {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

.subSection {
	height: 5%;
	size: fixed;
}

.sectOne {
	background-image: url("../img/frederick2.JPG");

}

.sectTwo {
	background-image: url("../img/frederick1.JPG");
}

.sectThree{
	background-image: url("../img/frederick3.JPG");

}

.sectOneimg{
	margin-right: 30px;
	float: right;
	max-width: 100%;


}

.centerpic{
	width: 100%;

}
.aboutpic{
	float:right;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 5px;
}


.aboutext{
	margin-top: 90px;
	margin-bottom: 30px;
}
.aboutheader{
	margin-top: 175px;
}


.linksconnect{
	list-style: none;
	margin: 30px 100px 30px 100px;
}

.linkssconnect {
	margin: 30px 100px 10px 100px;
}
.linkssconnectabout {
	margin: 0px 100px 5px 10px;
}

.bodyhome{
	margin-top: 70px;
	margin:10%;
}

.sect2img{
	width: 100%;
	margin: center;
}

.ben{
	float: right;
	margin-right: 30px;
	margin-left: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 



footer {
	width: 100%;
	margin: center;
	text-align: center;
	display: inline-block;
	background-color: #99badd;
}


/*---make a basic box ---*/
h2, h3, h4,h5, h6, p{
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 20%;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

nav {
	height:40px;
	width:800; 
	display:block;
	margin:0 auto;
	text-align: center;
	text-transform: uppercase;
	opacity: 0.9;

}

nav a{
	display:block;
	text-decoration: none;
	
	font-weight: bold;
	font-size:10pt;
	color:#fff;
}

nav a:hover{
	background:#223433;
	color:#f0f1f5;
}

nav ul{
	list-style: none;
}

nav ul li{
	float:left;
	width: 160px;
	height:40px;
	line-height: 40px;
	background:#555;
	
}

nav ul ul li{
	position:relative;
	display:none;
}

nav ul ul ul{
	display:none;
}

nav ul li:hover ul li{
	display: block;
	animation: navmenu 500ms forwards;
}

@keyframes navmenu{
	0%{
		opacity:0;
		top:5px;
	}
	100%{
		opacity:1;
		top:0px;
	}
}

nav ul ul li:hover ul{
	display:block;
	position:absolute;
	width:140px;
	left:140px;
	top:0px;
}
.shapeuptwitter{
	
    margin-top:3px;
    margin-right:20%;
    float:right;
    background:#707070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	

}
.footerimages{
	width: 40px;
	display: inline-block;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.footerimages:hover{
	width: 41px;
	
}